.banner {
    width: 320px;
    background-color: #e3f1f9;
    background-image: url('/img/back-desktop@1x.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner--main {
    height: 389px;
}

.banner--form {
    height: 157px;
}

.banner__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner__text--main {
    top: 90px;
    width: 280px;
    height: 212.48px;
}

.banner__text--form {
    top: 52px;
    width: 229px;
    height: 39px;
}