.banner {
    width: 320px;
    height: 389px;
    background-color: #e3f1f9;
    background-image: url('/img/back-desktop@1x.jpg');
    background-size: cover;
    background-position: center;
}

.banner__text {
    width: 280px;
    height: 212.48px;
}