.bridge-banner {
    width: 320px;
    height: 260px;
    background-color: #82675c;
    background-image: url('/img/photo-bridge@1x.jpg');
    background-size: cover;
    background-position: center;
}