.city-reason-item-description {
    display: flex;
    flex-direction: column;
    padding: 12px 0 0 12px;
}

.city-reason-item-description__header {
    color: #000;
    margin-bottom: 16px;
}

.city-reason-item-description__text {
    color: #333;
}