.city-reason-item {
    text-align: left;
    display: flex;
    align-items: flex-start;

    padding: 9px 20px;

    background-color: #FFF;
}
.city-reason-item:first-child {
    padding-top: 25px;
}

.city-reason-item:last-child {
    padding-bottom: 36px;
}

.city-reason-item__bullet {
    fill: #81B3D2;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}