.city-reason__banner {
    width: 320px;
    height: 260px;
    background-color: #a89a90;
    background-image: url('/img/photo-city@1x.jpg');
    background-size: cover;
    background-position: center;
}