.reasons-item {
    background-color: #EEE;
    position: relative;
}

.reasons-item:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 20px;
    right: 20px;
    bottom: 0;
    background-color: #D6D6D6;
}