.search-motel {
    padding: 38px 20px 48px 20px;
}

.search-motel__header {
    margin-bottom: 24px;
}

.search-motel__text {
    line-height: 24px;
    margin-bottom: 24px;
}

.search-motel__button {
    display: block;
    width: 100%;
    padding: 15px;
    color: #FFF;
    background-color: #81B3D2;
}